        <div class="content-wrapper" style="margin-left: 0px;">
          <!-- Content Header (Page header) -->
          <section class="content-header">
            <div class="container-fluid">
              <div class="row mb-2">
                <div class="col-sm-6">
                  <h1 id="nameHeader" data-symbol="{{symbol}}">{{name}}</h1>
                </div>
              </div>
            </div><!-- /.container-fluid -->
          </section>
      
          <!-- Main content -->
          <section class="content">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-8">
                  <!-- AREA CHART -->
                  <div class="card card-primary">
                    <div class="card-header">
                      <h3 class="card-title">Price over the last 7 days</h3>
                    </div>
                    <div class="card-body">
                      <div class="chart">
                        {{>stockChart}}
                      </div>
                    </div>
                    <!-- /.card-body -->
                  </div>
                  <!-- /.card -->
                </div>
                <!-- /.col (LEFT) -->
                <div class="col-md-4">
                  <!-- general form elements -->
                  <div class="card card-primary" style="min-height: 335px;">
                    <div class="card-header">
                      <h3 class="card-title">Actions </h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form>
                      <div class="card-body">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="noOfShares">Current Shares</label>
                              <input type="number" data-shares="{{currentShares}}"
                                 class="form-control" id="noOfShares" placeholder={{currentShares}} readonly>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="sharePrise">Price</label>
                              <div class="input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">$</span>
                                </div>
                                <input type="text" class="form-control" id="price" data-price="{{currentPrice}}" placeholder="{{currentPrice}}" readonly>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="shareCost">Buy/Sell Shares</label>
                              <div class="input-group">
                                <div class="custom-file">
                                  <div class="input-group">
                                    <input type="text" class="form-control" id="transactionShares">

                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="sharePrise">Cost/Payment</label>
                              <div class="input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">$</span>
                                </div>
                                <input type="text" class="form-control" id="cost" placeholder="0" readonly>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="alert alert-warning alert-dismissible fade show d-none alert-div" role="alert">
                            You do not have that many shares to sell.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="row" style="text-align: center;">
                          <div class="col-md-6">
                            <button type="submit" class="btn btn-primary" id="buyBtn" style="min-width: 60%;">Buy</button>
                          </div>
                          <div class="col-md-6">
                            <button type="submit" class="btn btn-primary" id="sellBtn" style="min-width: 60%;">Sell</button>
                          </div>
                        </div>
                      <!-- /.card-body -->
                    </form>
                  </div>
                  <!-- /.card -->
                </div>
                <!-- /.col (RIGHT) -->
              </div>
              <!-- /.row -->
            </div><!-- /.container-fluid -->
          </section>
          <!-- /.content -->
        </div>
